
body {
	width: 100%;
}
.wrapper {
	width: 400px;
	margin: 0 auto;
}
.header {
	height: 120px;
	background: #141f40;
}
.side {
	float: left;
	width: 150px;
	height: 250px;
	background:#80bfa8 ;
   /* float: left;*/
}
.content {
	float: left;
	width: 420px;
	height: 540px;
    margin: 0 auto;
}
.content-top-left {
	/*float: left;*/
	width: 280px;
}
.content-top-left-top {
	height: 50px;
    width: 150px;
	background: #dbd400;
    /*float: right;*/
}
.content-top-left-bottom {
	height: 100px;
    width: 150px;
	background: #0093b7;
    /*float: right;*/
}
.content-top-right {
	/*float: right;*/
	width: 100px;
	height: 150px;
	background: #ff9e6b;
}
.content-bottom {
	height: 100px;
    width: 250px;
	background:#8c2727 ;
    /*float: right;*/
}
.footer {
	height: 100px;
    width: 400px;
	background: #d98d30;
    margin: 0;
    padding: 0;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}